.headLogin {
  background-color: #ffffff;
  border-bottom: 1px solid #006532;
}
.text-navy {
  color: #006532;
}
.btn-primary,
.btn-primary:focus {
  background-color: #006532;
  border-color: #006532;
}
.btn-primary:hover {
  background-color: #1a835a;
  border-color: #1a835a;
}
.form-control:focus {
  border-color: #1a835a !important;
}
body.boxed-layout #wrapper {
  background-color: #006532;
}
.nav-header {
  background: #35b584;
  color: #ffffff;
}
#side-menu li a {
  color: #ffffff;
  font-weight: 400;
}
#side-menu li a:hover {
  background-color: #ffffff;
  color: #006532;
  font-weight: 800;
  border-left: 4px solid #006532;
}
#side-menu .active {
  background-color: #ffffff;
  border-left: 4px solid #006532 !important;
}
#side-menu .active a:hover {
  border-left: none;
}
#side-menu .active a {
  color: #006532;
}
.corPadrao {
  background-color: #006532;
  color: #333333;
}
.textoBranco {
  color: #ffffff;
  margin-bottom: 0px;
  font-weight: normal;
}
.btn-warning.btn-outline {
  color: #333333;
  background-color: #ffffff;
}
.btn-warning.btn-outline:hover {
  color: #ffffff;
  background-color: #dadada;
}
.btn-outline {
  background-color: #dadada;
}
.btn-warning.btn-outline {
  border-color: #ffffff;
}
.btn-outline:hover {
  border-color: #dadada;
}
.infoUsuario {
  padding: 0px;
}
body.mini-navbar .nav-header {
  background-color: #35b584;
}
.navbar-toggle:hover {
  background-color: #ffffff;
}
.navbar-toggle {
  background-color: #ffffff;
}
.panel {
  min-width: 28.08771929824561%;
  float: right;
  text-align: center;
  margin-right: 5px;
  background-color: #35b584;
  color: #ffffff;
  border-radius: 0;
}
.dadosExames {
  margin-top: 10px;
  width: 80%;
  height: 10px;
  color: #333333;
}
.labelAtendimentosClientes {
  margin-right: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  font-size: 11px;
  border: 1px solid #dadada !important;
}
#listFilter li:hover {
  background-color: #f1dcdd !important;
  cursor: pointer;
}
#listFilter li {
  transition: background-color 0.5s ease;
}
.boxCenter {
  background-color: #ffffff;
  min-height: 58vh;
}
li.clicked {
  background-color: #ffffff;
}
li.notClicked {
  background-color: none;
}
#side-menu li a:active {
  background-color: #ffffff;
  color: #006532;
  font-weight: 800;
  border-left: 4px solid #006532;
}
.msgCpfAcesso {
  color: red;
}
.boxLogin {
  background-color: #FFFDFD;
  border: 1px solid #C7C7C7;
}
