.headLogin{
	background-color: #fff;
	border-bottom: 1px solid #C52F33;
}

.text-navy{
	color: #C52F33;
}

.btn-primary,.btn-primary:focus{
	background-color:#C52F33;
	border-color:#C52F33;
}

.btn-primary:hover{
	background-color:#CE5356;
	border-color:#CE5356;
}

.form-control:focus{
	border-color:#CE5356 !important;
}

body.boxed-layout #wrapper{
	background-color: #C52F33;
}

.nav-header{
	background: #D65357;
	color: #fff;
}

#side-menu li a{
	color: #fff;
	font-weight: 400;
}

#side-menu li a:hover{
	background-color: #fff;
	color: #C52F33;
	font-weight: 800;
}

#side-menu .active{
	background-color: #fff;
	border-left: 4px solid blue;
}

#side-menu .active a{
	color: #C52F33;
}