html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#wraper{
	min-height: 100%;
	position: relative;
}
.input-sm, .form-control{
	height: 34px;
	margin-bottom: 10px;
}

.boxCenter{
	background-color: #fff;
	min-height: 58vh;
}

#body{
	padding: 10px;
	padding-bottom: 60px;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.headLogin{
	text-align: center;
	padding: 5px 0 5px 0;
}

.radio-inline{
	height: 30px;
}

.wrapper-content{
	padding-bottom: 0px !important;
}

.navbar-fixed-top{
	background: transparent;
	border-bottom: 0px;
	border: 0px !important;
}

.headPadrao{
	text-align: left;
}

.headPadrao img{
	padding: 5px 10px 2px 15px;
}

.infoAtendimento{	
	float: left;	
	margin-left: 25px;
	font-size: 1.1em;
	margin-top: 7px;
}

.nomePaciente{
	font-size: 1.3em;
}

#boxRodape h3{
	margin: 0px;
}

li.clicked{
	background-color: #fff;
}

li.notClicked{
	background-color: none;
}

#side-menu li a:active{
	background-color: #fff;
    color: #C52F33;
    font-weight: 800;
    border-left: 4px solid #C52F33;
}

.bodyLayoutPadrao{
	padding-top: 80px;
}

.agile-list li.warning-element{
	margin-right: 10px;
}

.agile-list li.success-element{
	margin-right: 10px;
}

.agile-list li.danger-element{
	margin-right: 10px;
}

.agile-list li.aguardando-element {
  margin-right: 10px;
}

.agile-list li.naoRealizado-element {
  margin-right: 10px;
}

body.mini-navbar .nav-header{
	background-color: #D65357;
}

li.nav-header{
	height: 20%;
}

.navbar-top-links li{
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.1em;
}

.navbar-toggle:hover{
	background-color: #fff;
}

.navbar-toggle{
	background-color: #fff;
}

.dadosDoAtendimento{
	padding: 0;
	margin: 0;
}

.dadosPessoais{
	margin:2px auto;
}

div.row.border-bottom{
	height: 60px;
	margin: 0;
}

.panel{
	min-width: 28.08771929824561%;
	float: right;
	text-align: center;	
	margin-right: 5px;	
	background-color: #D65357;
	color: #fff;
	border-radius: 0;
}

.side-menu{
	height: 100%;
	overflow: auto;
}

.mnemonicos{
	font-size: 11px;
}

#side-menu {
	margin-top: 10px;	
}

.fa-angle-right{
	float: right;
}

.nav > li > a{
	padding: 8px;
}

.feed-element img.img-circle, .dropdown-messages-box img.img-circle{
	width: auto;	
}

.infoUser{
	margin-right: 10px;
}

.infoUser .img-circle{
	padding: 0px;
}

.itensInfoUser{
	top:65px;
}

.boxImgUser{
	float: left;
}

.boxImgUser img{
	margin-right: 5px;
}

.topoMenu{
	height: 50px;
}

div.row.infoCliente{
	margin-right: 0;
	margin-left: 0;
	height: 60px;
}

.infoAtendimento{       
    margin: 0 6;
    margin-top: 8px;
}

.infoPaciente{
    margin: 0 6;
    margin-top: 8px;
}

.atendimento{
	float: right;
	margin-top: 12px;
	margin-right: 10px;
}

.metismenu li{
	margin-bottom: 5px;
}

.nav-header{
	margin-bottom: 0px;
}

ul{
	list-style-type: none;
}

.boxExames{
	padding-right: 0px;
	padding-left: 0px;
}

.dadosExames{
	margin-top: 10px;
	width: 80%;
	height: 10px;
	color: #333333;
}

.dadosPaciente{
	text-align: left;
}

#page-wrapper{
	padding: 0px;
}

.wrapper-content{
	min-height: 500px;
}

.listaExames{
	padding-left: 10px;
}

.listaExames li{
	min-height: 80px;
}

.checkExames{
	float: right;
}

.btnVisualizarExame{
	position:absolute;
     bottom:5;
     right:5;
}

.iconLoad {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}


@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}


.all{
	float: none;
	padding-top: 8px;
	text-align: right;
	margin-right: 20px;
}

.topExames{	
	padding: 5px;
}

.btnVoltar{
	min-width: 0px;
	margin-left: 20px;
	margin-top: 10px;
}

.boxFiltro{
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 100%;
}

.text-left{
	text-align: left;
}

.btn .btn-white{
	border-radius: none;
}

.fa-filter{

}

.input-group .m-b .filtar{
	margin-bottom: 0px;
}

.col-md-12{
	padding-left: 0px;
}

.listaPacientes{
	padding-bottom: 55px;
}

.labelAtendimentosClientes{
	margin-right: 5px;
	margin-top: 5px;
	background-color: #fff;
	font-size: 11px;
	border: 1px solid #DEDEDE !important;
}

.listaClientes:hover{
	background-color: #F1DCDD !important;
}

.ajusteFonte{
	font-size: 11px;
}

@media (max-width: 420px){

	body,.text-center{
		font-size: 10px;
	}

	.page-heading{
		min-height: 89vh;
		padding-bottom: 80px;
	}

	.infoAtendimento{		
		margin: 0;
		padding: 5px;
	}

	div.row.infoCliente{
		height: 10px;
	}

	.atendimento{
		margin-right: 127px;
	}

	.metismenu li {
		margin-bottom: 20px;
	}

	.metismenu {
		padding-bottom: 60px;
	}
  
	div.row.infoCliente{
		margin-right: 0;
		margin-left: 0;
		height: 170px;
	}

	#side-menu {
		margin-top: 120px;	
	}

	#wrapper{
		overflow-x: visible; 
	}


	.middle-box{
		max-width: 0px;
		padding-top: 0px !important;
	}

	.bodyLayoutPadrao{
		padding-top: 60px;
	}

	li.nav-header{
		height: 60px;
	}

	.navbar-header.logo img{
		height: 48px;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}

	.feed-element{
		padding: 0px;
		margin: 0px;
	}

	.navbar-header.logo{
		width: 100%;
		text-align: center;
	}

	#navbar{
		width: 20%;
	}

	.infoUser{
		width: 100%;
		text-align: center;
		padding: 0px;
		margin-top: 5px;
	}

	.infoUser img{
		display: none;
	}

	.itensInfoUser{
		top:100px;
	}

	.metismenu li a{
		padding: 0px;
	}

	.loginColumns{
		padding: 0px;
	}
}

		
