/*--Paciente--*/
#toolbar{
	border-bottom: 1px solid #e7e7e9;
}
.areaLegendaExames{
	padding: 5px;
}
.btnAtendimento.active{
	background-color: #E0E0E0 !important;
}
.tipoEntregaImpressao{
	color: red !important;
	font-size: 0.5em !important;
	margin-left: 0px !important;
}
.modal .modal-content{
	padding: 2px;
	font-size: 0.8em;
	background-color: white;
}
.collection{
	border: none;
}
.collection-item{
    margin: 5px !important;
	font-size: 0.8em !important;
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	line-height: 18px !important;
	background-color: #efefef !important;
}
.bkfInfo{
	background-color: white !important;
	border-bottom: 1px solid #e0e0e0 !important;
}
.infoPaciente{
	font-size: 0.8em;
  	color: #9e9e9e;
}
.nomePaciente{
	font-size: 18px !important;
	line-height: 26px !important;
	margin-left: 0px !important;
}
#listaPacientes{
   overflow:hidden;
}
.mdi-information-outline,
.mdi-chevron-left,
.mdi-filter-outline{
	float: right;
	margin-right: 5px;
}
.infoAdicional{
	float: right;
	margin-right: 5px;
}
.openAlt{
	font-size: 1.5em;
	margin-top: 1px;
}
#filtroUp-alt{
	font-size: 1.3em;
	margin-top: 15px;
	margin-left: 20px;
}
.infoAlt{
    font-size: 1.3em;
    margin-top: 20px;
}
#modal{
	width: 95%;
}
#idAtendimento{
	background-color: #fff !important;
	font-size: 1em !important;
    color: #9E9E9E !important;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#solicitanteAtd,#previsaoAtd{
	background-color: #efefef !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em !important;
}
#convenioAtd{
	background-color: #fff !important;
	border-bottom: 0px !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em !important; 
}
#modalDetalhamento{
	max-height: 95%;
	width: 95%;
	top: 3% !important;
}
.erroDescricao{
	color: red;
}
.btnFecharDetalhamento{
	float: right;
}
.mdi-close{
	background-color: gray;
}
.todo .todo-element{
	padding: 10px;
}
.nomeProcedimento{
	color: #524C4C;
}
.subInfoExame{
	font-size: 0.6em !important;
	margin-left: 0px !important;
}
.tituloModal{
	font-size: 1.3em;
}
.semExames{
	font-size: 1.2em;
	padding: 20px;
}
#existemPendencias{
    background-color: #F7DDDD;
}
.pendencias{
	font-size: 1.2em;
	padding: 20px;
	color: red;
}
.collapsible-header{
	line-height: 2rem;
}
.collapsible-header i{
	line-height: 2rem;
}
.mnemonicoAtd{
	color: #8E8E8E !important;
}
.waves-effect{
	display: inherit;
}
#rodapeDetalhe{
	margin-left: 5px;
}
#dvPdfDetalhe{
	margin-right: 5px;
}
/*--Cores Status Exames--*/
.warning-element, .success-element, .danger-element, .aguardando-element, .naoRealizado-element{
	margin-right: 10px;
}
.success-element {
  border-left: 7px solid #1ab394;
}
.naoRealizado-element {
  border-left: 7px solid #BBBAB9;
}
.aguardando-element {
  border-left: 7px solid #F7F01D;
}
.warning-element {
  border-left: 7px solid #f8ac59;
}
.danger-element {
  border-left: 7px solid #ed5565;
}
.corStatusFinalizado{
	font-style: normal;
	font-size: 1em !important;
	margin-left: 0px !important;
	color: #1ab394;
}
.corStatusPendencias{
	font-style: normal;
	font-size: 1em !important;
	margin-left: 0px !important;
	color: #ed5565;
}
.corStatusNaoRealizado{
	font-style: normal;
	font-size: 1em !important;
	margin-left: 0px !important;
	color: #BBBAB9;
}
.snap-drawer{
	width: 300px;
}
.modal-titulo{
	font-size: 1em !important;
	color: #9E9E9E !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.modal-conteudo{
	padding: 10px !important;
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.descricaoExames{
	border-bottom: 1px dashed #E5E5E5;
	margin-bottom: 10px;
}
.modal-rodape{
	font-size: 0.7em;
	color: #9E9E9E;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-bottom: 10px;
}
#gerarPdfMenu{
	cursor: pointer;
	margin-top: 5px;
}
#gerarPdfMenu.active{
	cursor: pointer;
	background-color: #E0E0E0;
}
#containerBtnResultados{
	background-color: #DADADA;
}
#pdfResultados{
	margin: 0 auto;
}
/*-- Médico --*/
.midData{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 20px !important;
}
#btnFiltrar{
	text-transform: none;
	width: 100%;
}
.filtros{
	border-bottom: 1px solid #C3C3C3;
}
#alterarSenha{
	padding-left: 30px;
	padding-right: 30px;
}
#blockui{
	position: relative;
}

