.container-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 38px;
}
.container-info {
    text-align: left;
    width: 360px;
}
@media only screen and (max-width: 768px) {
	.container-login {
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		width: 95%;
		margin: 0 auto;
		margin-top: 38px;
	}
	#main {
		display: flex;
		flex-direction: column;
	}
	.container-info {
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
        width: 100%;
	}
	.tabs-body {
		margin-top: 60px;
	}
}