.container-login {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	width: 97%;
	margin-top: 38px;
}
.container-info {
    text-align: left;
    width: 360px;
}
header {
	width: 100%;
}
.container-info .versions {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 767px) {
	.container-login {
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		width: 97%;
		margin: 0 auto;
		margin-top: 38px;
	}
	#main {
		display: flex;
		flex-direction: column;
	}
	.container-info {
        font-size: 20px;
        margin-top: 50px;
        text-align: center;
        width: 100%;
	}
	.tabs-body {
		margin-top: 60px;
		align-self: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}
	.tabs-container {
		width: 100%;
	}
	.container-info .versions {
		font-size: 0.8rem;
	}	
}