#modalBody{
	-webkit-touch-callout: initial; /* iOS Safari */
	  -webkit-user-select: initial;   /* Chrome/Safari/Opera */
	  -khtml-user-select: initial;    /* Konqueror */
	  -moz-user-select: initial;      /* Firefox */
	  -ms-user-select: initial;       /* Internet Explorer/Edge */
	  user-select: initial;           /* Non-prefixed version, currently
	                                  not supported by any browser */
}
.close{
	font-size: 3em;
	color: #055405;
	opacity: .5;
}
.modal-conteudo {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
  
.modal-topo {
min-height: 16.42857143px;
padding: 15px;
border-bottom: 1px solid #e5e5e5;
}

.modal-topo .close {
    margin-top: -2px;
}

.modal-titulo {
    margin: 0;
    line-height: 1.42857143;
}
.modal-corpo {
    position: relative;
    padding: 15px;
}
.modal-rodape {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-rodape .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-rodape .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-rodape .btn-block + .btn-block {
    margin-left: 0;
}

.modal-title{
	text-align: center;
}

.modal-body{	
	padding-bottom: 0px;
	padding-right: 10px;
	padding-top: 20px;
	padding-left: 10px;
}

.modal-footer{
	font-size: 0.65em;
	text-align: left;
	font-weight: bold;
	border-top: 0px solid #e5e5e5;
}